#welcomePage {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    display: flex;
    justify-content: center;
}

#logoName {
    color: white;
    padding: 0.5rem;
    text-align: center;
}

#button {
    display: flex;
    justify-content: center;
    padding: 1rem;

}


#button #getStarted {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
    cursor: pointer;

}

#button #getStarted::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #962fbf 0%, #fa7e1e 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#button #getStarted:hover::before {
    width: 9em;
}


